:root {
  --primary: #EB6440;
  --secondary: #497174;
  --black: #000;
  --white: #fff;

  --lightgray: #EFF5F5;
  --grayish: #D6E4E5;
  --dark: #497174;
  --orange: #EB6440;

  --darker: #0d1432;
  --graybg: #e0e2e9;

  --instagram: #5B51D8;

  --title: "Comforter", serif;
  --subtitle: "Merriweather", serif;
  --text: "Playfair Display", serif;
  --sans: "Lato", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  position: relative;
}

.site-content {
  flex: 1;
}

.btn-primary {
  border-color: var(--secondary) !important;
  background-color: var(--secondary) !important;
}

.btn-primary:hover {
  border-color: var(--orange) !important;
  background-color: var(--orange) !important;
}

.posts img {
  object-fit: cover;
  width: 100%;
}

.bg-hero {
  background-color: var(--dark);
  padding: 0 !important;
}

.top-section {
  min-height: 100vh;
  position: relative;
}

.top-section__bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url('assets/bialoglowa_new.png');
  background-repeat: no-repeat;
  background-size: 75%;
  opacity: .1;
  background-position: center;
}

.main--head {
  position: absolute;
  opacity: .1;
  z-index: 0;
  width: 1030px;
}

h1 {
  font-family: var(--title);
  font-size: 18rem !important;
  color: var(--lightgray) !important;
  text-shadow: 2px 2px 2px #0d1432;
  z-index: 1;
}

h2 {
  font-family: var(--title);
  font-size: 3rem !important;
}

.card-title,
h3 {
  font-family: var(--subtitle);
  font-size: 2rem !important;
  word-break: break-word;
}

p,
.card-text,
ul li,
ol li {
  font-family: var(--text);
  font-size: 1.2rem;
  line-height: 1.3;
}

.date {
  font-family: var(--sans);
  font-size: .7rem;
  background-color: var(--orange);
  color: white !important;
  line-height: 1;
  padding: .25rem .5rem;
  border-radius: 10px;
}

.font-footer {
  font-family: var(--sans);
  font-size: .9rem;
  line-height: 1.3;
}

.photo {
  border-radius: 10px;
}

.photo.vertical {
  max-width: 300px !important;
}

.photo.horizontal {
  max-width: 460px;
}

.photo.small {
  max-width: 360px;
}

.accordion-flush {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.accordion-button:not(.collapsed) {
  color: black !important;
  background-color: inherit !important;
}

.accordion .accordion-header {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
}

.accordion .accordion-item {
  background-color: var(--lightgray) !important;
  margin-bottom: 4rem;
  border: 0;
  border-radius: 10px !important;
  transform: all 300ms ease-in-out;
}

.accordion .accordion-item:hover {
  box-shadow: 1px 1px 0 var(--grayish);
}

.accordion .accordion-item:nth-of-type(even) {
  background-color: var(--graybg) !important;
}

.accordion-button {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start !important;
  background-color: inherit !important;
  overflow: hidden;
}

.accordion-button:focus {
  box-shadow: none !important;
}

.accordion-button::after {
  position: absolute;
  top: -30px;
  right: -50px;
  width: 180px !important;
  height: 180px !important;
  background-size: 180px !important;
  opacity: .1;
  transition: all 300ms ease-in-out !important;
}

.accordion-button:hover::after {
  opacity: .25;
}

form .form-control:focus {
  box-shadow: none;
  border-bottom: 2px solid var(--orange);
}

form .form-control {
  background-color: var(--graybg);
  border-radius: 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 2px solid var(--secondary);
}

form .form-label {
  margin-bottom: 0;
}

.belt--special {
  background-color: var(--orange);
  color: var(--lightgray);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footer-wave {
  position: relative;
  background-color: var(--graybg);
}

.footer-wave::before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 400px;
  background-image: url('assets/wave-footer.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom center;
  z-index: 0;
}

.container__main {
  margin-bottom: 10rem;
}

.main__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('assets/blobs-bg.svg');
  background-size: cover;
  background-position: center;
  opacity: .3;
  z-index: -1;
}

.footer__social .fa-solid {
  position: absolute;
  bottom: -12px;
  right: -18px;
}

#scrollTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}

#instamobile {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 20px;
  cursor: pointer;
}

#scrollTop .fa-solid,
#instamobile .fa-brands {
  background-color: var(--orange);
  padding: 0.5rem 0.65rem;
  border-radius: 20px;
  color: white;
}

.instafixed {
  position: fixed !important;
  bottom: 20px !important;
}

.instaabsolute {
  position: absolute !important;
  bottom: 190px !important;
}

.black--dog {
  font-family: monospace;
  font-size: .8rem;
  text-transform: uppercase;
  letter-spacing: .1px;
  position: absolute;
  bottom: 5px;
  color: var(--dark);
}

.black--dog .fa-heart {
  color: tomato;
}

.fa-brands {
  color: var(--dark);
}

.fa-instagram:hover {
  color: var(--instagram);
}

.cookies--free {
  position: absolute;
  left: -40px;
  bottom: 50px;
  transform: rotate(-90deg);
}

.cookies--free .fa-ban {
  color: tomato;
}

/* BREAKPOINTS */
/* BREAKPOINTS */
/* BREAKPOINTS */
/* BREAKPOINTS */

@media screen and (max-width: 1199px) {
  h1 {
    font-size: 10rem !important;
  }
}

@media screen and (max-width: 991px) {
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 6rem !important;
  }
  .photo.vertical,
  .photo.horizontal {
    max-width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 575px) {
  h1 {
    font-size: 4rem !important;
  }
  .top-section__bg {
    background-size: 100%;
  }
  .instaabsolute {
    display: none !important;
  }
}

@media screen and (max-width: 360px) {
  .top-section {
    min-height: 33vh;
  }
  h1 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  h2 {
    font-size: 2rem !important;
  }
  .black--dog {
    position: relative;
  }
  .cookies--free {
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
}