:root {
  --primary: #0d6efd;
  --secondary: green;
  --black: #000;
  --white: #fff;

  --lightgray: #EFF5F5;
  --grayish: #D6E4E5;
  --dark: #497174;
  --orange: #EB6440;

  --darker: #0d1432;
  --graybg: #e0e2e9;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

.posts img {
  object-fit: cover;
  width: 100%;
}

.bg-hero {
  background-color: var(--dark);
}

.top-section {
  min-height: 100vh;
}

h1 {
  font-family: "Comforter", serif;
  font-size: 18rem !important;
  color: var(--lightgray) !important;
  text-shadow: 2px 2px 2px #0d1432;
}

.card-title,
h5 {
  font-family: "Merriweather", serif;
  font-size: 2rem !important;
}

p,
.card-text {
  font-family: "Playfair Displya", serif;
  font-size: 1.2rem;
}

.photo {
  max-width: 200px !important;
  float: left;
  margin-right: 1rem;
}

.accordion-button:not(.collapsed) {
  color: black !important;
  background-color: inherit !important;
}

.accordion .accordion-item {
  background-color: var(--lightgray) !important;
  margin-bottom: 4rem;
  border: 0;
}

.accordion .accordion-item:nth-of-type(even) {
  background-color: #eaeaea !important;
}

.accordion-button {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start !important;
  background-color: inherit !important;
}

.accordion-button:focus {
  box-shadow: none !important;
}

.accordion-button::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  /* font-family: "FontAwesome"; */
  /* content: "\f078" !important; */
  /* background-image: none !important; */
}

.belt--special {
  background-color: var(--orange);
  color: var(--lightgray);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.belt--special p {
  font-size: 3rem !important;
  font-family: "Comforter", serif;
}

.footer-wave {
  position: relative;
  background-color: #e0e2e9;
}

.footer-wave::before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 400px;
  background-image: url('assets/wave-footer.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom center;
  z-index: -1;
}

.container__main {
  margin-bottom: 10rem;
}

/* BREAKPOINTS */
/* BREAKPOINTS */
/* BREAKPOINTS */
/* BREAKPOINTS */

@media screen and (max-width: 767px) {
  h1 {
    font-size: 3rem !important;
  }
}