:root {
  --primary: #0d6efd;
  --secondary: #497174;
  --black: #000;
  --white: #fff;

  --lightgray: #EFF5F5;
  --grayish: #D6E4E5;
  --dark: #497174;
  --orange: #EB6440;

  --darker: #0d1432;
  --graybg: #e0e2e9;

  --title: "Comforter", serif;
  --subtitle: "Merriweather", serif;
  --text: "Playfair Display", serif;
  --sans: "Lato", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

.posts img {
  object-fit: cover;
  width: 100%;
}

.bg-hero {
  background-color: var(--dark);
}

.top-section {
  min-height: 100vh;
}

h1 {
  font-family: var(--title);
  font-size: 18rem !important;
  color: var(--lightgray) !important;
  text-shadow: 2px 2px 2px #0d1432;
}

.card-title,
h5 {
  font-family: var(--subtitle);
  font-size: 2rem !important;
}

p,
.card-text {
  font-family: var(--text);
  font-size: 1.2rem;
  line-height: 1.3;
}

.date {
  font-family: var(--sans);
  font-size: .7rem;
  background-color: var(--orange);
  color: white !important;
  line-height: 1;
  padding: .25rem;
}

.photo {
  max-width: 200px !important;
  float: left;
  margin-right: 1rem;
}

.accordion-button:not(.collapsed) {
  color: black !important;
  background-color: inherit !important;
}

.accordion .accordion-header {
  /* background-image: url('assets/bauhaus-bg.png'); */
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
}

.accordion .accordion-item {
  background-color: var(--lightgray) !important;
  margin-bottom: 4rem;
  border: 0;
}

.accordion .accordion-item:nth-of-type(even) {
  background-color: #eaeaea !important;
}

.accordion-button {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start !important;
  background-color: inherit !important;
  overflow: hidden;
}

.accordion-button:focus {
  box-shadow: none !important;
}

.accordion-button::after {
  position: absolute;
  top: -30px;
  right: -50px;
  width: 180px !important;
  height: 180px !important;
  background-size: 180px !important;
  opacity: .1;
}

.belt--special {
  background-color: var(--orange);
  color: var(--lightgray);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.belt--special p {
  font-size: 3rem !important;
  font-family: var(--title);
}

.footer-wave {
  position: relative;
  background-color: #e0e2e9;
}

.footer-wave::before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 400px;
  background-image: url('assets/wave-footer.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom center;
  z-index: -1;
}

.container__main {
  margin-bottom: 10rem;
}

/* BREAKPOINTS */
/* BREAKPOINTS */
/* BREAKPOINTS */
/* BREAKPOINTS */

@media screen and (max-width: 767px) {
  h1 {
    font-size: 3rem !important;
  }
}